body {
  font-family: helvetica;
  background: peachpuff;
  font-weight: light;
  color: grey;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

video {
  align: center;
}
#flexbox {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
}
#flextext {
  font-family: helvetica;
  text-align: center;
  width: 35%;
  
  
}
